body {
    font-family: 'Lato';
}

h1,
h2 {
    font-family: 'Catamaran';
    font-weight: 800 !important;
}

.bg-black {
    background: black;
}

.btn-xl {
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.rounded-pill {
    border-radius: 5rem;
}

.custom-nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
}

.custom-nav .navbar-brand {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

.custom-nav .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

header.masthead {
    position: relative;
    overflow: hidden;
    background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
    padding-top: calc(7rem + 72px);
    padding-bottom: 7rem;
}

header.masthead .masthead-content {
    z-index: 1;
    position: relative;
}

header.masthead .masthead-content .masthead-heading {
    font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
    font-size: 2rem;
}

@media screen and (min-width: 992px) {
    header.masthead {
        padding-top: calc(10rem + 72px);
        padding-bottom: 10rem;
    }
    header.masthead .masthead-content .masthead-heading {
        font-size: 6rem;
    }
    header.masthead .masthead-content .masthead-subheading {
        font-size: 4rem;
    }
}

.btn-primary {
    background-color: #ee0979;
    border-color: #ee0979;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #bd0760 !important;
    border-color: #bd0760 !important;
}

header.masthead .bg-circle {
    position: absolute;
    z-index: 0;
    border-radius: 100%;
    background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
}

header.masthead .bg-circle-1 {
    width: 90rem;
    height: 90rem;
    bottom: -55rem;
    left: -55rem;
}

header.masthead .bg-circle-2 {
    width: 50rem;
    height: 50rem;
    top: -25rem;
    right: -25rem;
}

header.masthead .bg-circle-3 {
    width: 20rem;
    height: 20rem;
    bottom: -10rem;
    right: 5%;
}

header.masthead .bg-circle-4 {
    width: 30rem;
    height: 30rem;
    top: -5rem;
    right: 35%;
}